<md-dialog layout-padding>
  <md-dialog-content class="createListForm">
    <h2 class="md-display-2">Add Item</h2>
    <form name="addItemForm">
        <div class="addItemInputs">
          <md-input-container class="md-block formInput" flex-gt-sm>
            <label>Item Name</label>
            <input required name="itemName" ng-model="itemName">
          </md-input-container>
          <md-input-container class="md-block formInput" flex-gt-sm>
          <label>Item Price</label>
          <input required required type="number" step="any" name="rate" min="800"
               max="4999" ng-pattern="/^1234$/" name="itemPrice" ng-model="itemPrice">
          <div ng-if="$scope.errorOnRequired">
          <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>
      <md-button ng-click="test()">
        Add
      </md-button>
    </form>
  </md-dialog-content>
</md-dialog>