<html ng-app="listsApp">
	<head>
		<title>WishMe</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.css">
		<link href='https://fonts.googleapis.com/css?family=Niconne' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.js"></script>
		<script src="listsApp.js"></script>
	</head>
	<body ng-controller="ListsController as wishList" layout="column">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<h1>Here's your wish!</h1>
		  	</div>
		</nav>
		<div flex layout="row">
			<md-sidenav md-is-locked-open="true" class="md-whiteframe-z2 lato">
				<md-list>
			    	<md-list-item class="md-3-line md-no-proxy ng-scope" ng-repeat="list in wishLists" ng-click="selectList(list)" ng-class="{'selected': selected}">
			    		<h2 style="padding-right: 10px; color:#3F8EC4;" ng-if="list.type == 'Christmas'"><i class="fa fa-gift"></i></h2>
			    		<h2 style="padding-right: 10px; color:#3F8EC4;" ng-if="list.type == 'Birthday'"><i class="fa fa-birthday-cake"></i></h2>
			        	<div class="md-list-item-text">
			          		<h3>{{list.name}}</h3>
			          		<p>Created: {{list.dateCreated}}</p>
			          		<p>Modified: {{list.dateModified}}</p>
			        	</div>
			        	<md-divider ng-if="!$last"></md-divider>
			      	</md-list-item>
			    </md-list>
			    <div class="actions">
					<md-button class="md-icon-button md-button md-ink-ripple plus md-raised" aria-label="addList" ng-click="showAddListDialog($event)">
						<i class="fa fa-plus-circle"></i>
					</md-button>
				</div>
			</md-sidenav>
			<md-content flex id="content">
				<p ng-show="!listSelected">Please choose a WishList<br>to work on</p>
			</md-content>
		</div>
	</body>
</html>