body {
	color: #3F8EC4;
	font-family: 'Niconne', cursive;
}

.container-fluid {
	font-family: 'Lato', sans-serif;
}

.lato {
	font-family: 'Lato', sans-serif;
}

.navbar {
	/* position: -webkit-sticky; */
	text-align: center;
	background-color: #3F8EC4;
	height: 150px;
	position: relative;
	border: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

h1 {
	color: white;
	font-size: 80px;
}

h2 {
	color: #3F8EC4;
}

.listNameHeader {
	color: #3F8EC4;
	font-size: 45px;
}

label {
	color: #3F8EC4 !important; 
	text-align: left;
}

.createListForm {
	font-family: 'Lato', sans-serif;
	width: 500px;
	text-align: center;
}

.formInput {
	text-align: left;
	color: #3F8EC4 !important; 
}

.md-on {
	background-color: #3F8EC4 !important; 
}

.md-off {
	color: #3F8EC4 !important;
}

.md-input-focused {
	color: #3F8EC4 !important;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #3F8EC4 !important;
}

#content {
	text-align: center;
	background-color: #F0F0F0;
	font-family: 'Lato', sans-serif !important;
}

.wishListItems {
	background-color: white;
	overflow: auto;
	max-height: 600px;
}

.menuText {
	font-size: 20px;
	border: none;
}

.textCenter {
	text-align: center;
}

.menuButton {
	font-size: 20px !important;
	background-color: white !important;
	margin:0 auto !important;
    display:block !important;
}

.addItemInputs {
	width: 75%;
	margin: auto;
}

.noData {
	padding-top: 25%;
	font-size: 70px !important;
	color:  #C8C8C8;
	text-shadow: 0px -1px 0px rgba(0,0,0,.5); /* 50% black coming from the top */
	font-weight: bold;
}

.actions {
	margin-bottom: 20px;
}

.plus {
	height: 68px !important;
	width: 68px !important;
	text-align: center;
	color: #3F8EC4 !important;
	font-size: 65px !important;
	line-height: 10px !important;
}